<input type="hidden" id="npc-id" value="{{ npc.id if npc.id else '' }}">
            
<!-- NPC Name Header -->
<div class="npc-header">
    <h1 id="npc-name" contenteditable="true" class="npc-name">{{ npc.name }}</h1>
    <div id="titlerank" class="npc-titlerank">
        <span id="npc-title" class="npc-title" contenteditable="true" placeholder="Enter title...">{{ npc.title }}</span> -
        <span id="npc-rank" class="npc-rank" contenteditable="true" placeholder="Enter rank...">{{ npc.rank }}</span>
    </div>
</div>

<!-- NPC Content Wrapper -->
<div class="npc-info-box">

    <!-- Basic Info -->
    <div class="npc-info">
        <label for="npc-summary" class="npc-headline">Summary</label>
        <div id="npc-summary" class="npc-summary" contenteditable="true" placeholder="Enter a summary...">{{ npc.summary|safe }}</div>
        
    </div>   

    <!-- NPC Image -->
    <div class="npc-image">
        <img src="/npcs/images/{{ npc.image if npc.image else 'unknown.png' }}" alt="{{ npc.name }}" class="npc-img">
        <details>
            <summary>Change Image?</summary>
            <div id="image-edit">
                <label for="npc-image">Image Filename:</label>
                <input type="text" id="npc-image" value="{{ npc.image if npc.image else 'unknown.png' }}">
                <label for="npc-description">Description:</label>
                <div id="npc-description" class="placeholder-text" contenteditable="true" placeholder="Enter a description...">{{ npc.description }}</div>
                <button onclick="generateOpenAIImage()" class="btn generate-btn">Generate Image</button>
            </div>
        </details>
    </div>
</div>

<div class="npc-story-info">
    <!-- Info Section -->
    <div class="npc-info-section">
        <label for="npc-info" class="npc-headline">Info:</label>
        <div id="npc-info" contenteditable="true">{{ npc.info | safe }}</div>
    </div>
</div>

<div class="npc-info-box">
    <div class="npc-referred-by">
        <label class="npc-headline">Referred By</label>
        <ul>
            {% for referrer in referred_by %}
            <li>
                <a href="javascript:void(0)" class="npc-mention" onclick="loadNPCData('{{ referrer.id }}')">
                    {{ referrer.name }}
                </a>
            </li>
            {% endfor %}
            {% if referred_by|length == 0 %}
            <li>No NPCs have mentioned this NPC.</li>
            {% endif %}
        </ul>
    </div>

    <div class="npc-tags-container">
        <label for="npc-tags" class="npc-headline">Tags</label>
        <div>
            <input id="npc-tags" type="text" value="{{ npc.tags | join(',') }}">
        </div>    
    </div>
</div>
<hr class="rounded">

<div class="npc-game-data">
    <!-- Game Stats Section -->
    <details>
        <summary>Game stats (click to expand)</summary>
        <div id="stats-view">
            <h3>Stats</h3>
            <table class="npc-stats">
                <tr>
                    <th>M</th><th>WS</th><th>BS</th><th>S</th><th>T</th><th>I</th><th>Ag</th><th>Dex</th><th>Int</th><th>WP</th><th>Fel</th><th>W</th>
                </tr>
                <tr>
                    <td contenteditable="true">{{ npc.stats.M }}</td>
                    <td contenteditable="true">{{ npc.stats.WS }}</td>
                    <td contenteditable="true">{{ npc.stats.BS }}</td>
                    <td contenteditable="true">{{ npc.stats.S }}</td>
                    <td contenteditable="true">{{ npc.stats.T }}</td>
                    <td contenteditable="true">{{ npc.stats.I }}</td>
                    <td contenteditable="true">{{ npc.stats.Ag }}</td>
                    <td contenteditable="true">{{ npc.stats.Dex }}</td>
                    <td contenteditable="true">{{ npc.stats.Int }}</td>
                    <td contenteditable="true">{{ npc.stats.WP }}</td>
                    <td contenteditable="true">{{ npc.stats.Fel }}</td>
                    <td contenteditable="true">{{ npc.stats.W }}</td>
                </tr>
            </table>
        </div>
    

        <!-- Other Attributes -->
        <div>
            <label for="npc-talents">Talents:</label>
            <input id="npc-talents" type="text">
        </div>
        <div>
            <label for="npc-traits">Traits:</label>
            <input id="npc-traits" type="text">
        </div>
        <div>
            <label for="npc-skills">Skills:</label>
            <input id="npc-skills" type="text">
        </div>
        <div>
            <label for="npc-trappings">Trappings:</label>
            <input id="npc-trappings" type="text">
        </div>
        <hr class="rounded">

        <!-- Talents & Traits Descriptions -->
        <ul>
            {% if npc_talents %}
                <li><h2>Talents descriptions:</h2></li>
                {% for talent in npc_talents %}
                    <li><strong>{{ talent.name }}:</strong> {{ talent.description or 'Description not found' }}</li>
                {% endfor %}
            {% endif %}
            {% if npc_traits %}
                <li><h2>Traits descriptions:</h2></li>
                {% for trait in npc_traits %}
                    <li><strong>{{ trait.name }}:</strong> {{ trait.description or 'Description not found' }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</details>

<!-- Modal Structure for Image Generation -->
<div id="image-generation-modal" class="modal">
    <div class="modal-content">
        <h4>Generating Image</h4>
        <p>Please wait while the image is being generated...</p>
        <div class="loader"></div> <!-- Optional: You can add a loading spinner here -->
    </div>
</div>