body {
    font-family: Arial, Helvetica, sans-serif;  /* Use more readable fonts */
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 16px;  /* Slightly larger font size */
    line-height: 1.6; /* Increase line height for readability */
}

h1, h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

table.npc-stats {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    text-align: center;
}

table.npc-stats th, table.npc-stats td {
    padding: 3px;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
    line-height: 1.5; /* Added line height for better readability in lists */
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}
